doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    link(rel='stylesheet', type='text/css', href='/uploaded/files/css/site.css')
    title
      block title
  body
    header.MainHeader
      div.MainHeader-Logo
        img(src = '', alt = 'Еврофорточка')
        p.
          от духоты
          от влажности
          от плесени
      h2.MainHeader-Title
        | Децентрализованные системы вентиляции
      div.MainHeader-Tel
        p
          | Барнаул
          a(href="tel:+73852570858")
            | 8 (3852) 57-08-58
        p
          | Красноярск
          a(href="tel:+73912154602")
            | 8 (391) 215-46-02
        p
          | Новосибирск
          a(href="tel:+73832772367")
            | 8 (383) 277–23–67
      a.Callback1
        | Оставить заявку
    block content
    footer

