doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    link(rel='stylesheet', type='text/css', href='/css/main.css')

    link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")

    title
      block title
  body
    header.MainHeader
      input(type="checkbox", id="mainNavMenu").MainHeader-BurgerCheckbox
      div.d-flex.justify-content-between.py-2.shadow.MainHeader-Bar
        div.d-md-none.d-flex.align-items-center
          //.MainHeader-Burger
          //button(type="button", id="MainHeaderMenu").d-flex.align-items-center.btn.btn-primary.p-2
          label(for="mainNavMenu").m-0.d-flex.align-items-center.btn.btn-primary.p-2.MainHeader-MenuBtn
            //svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 16 12", fill="#fff")
              path(d="M0 0h16v2H0V0zm0 5h16v2H0V5zm0 5h16v2H0v-2z")
            div.MainHeader-Burger
              div
        div.d-none.d-sm-flex.align-items-center.flex-shrink-0.MainHeader-Logo
          a(href="http://еврофорточка.рф").MainHeader-LogoImg
            img(src = '/img/common/main-logo.png', alt = 'Еврофорточка').h-100
          div.h-100.mx-2.bg-primary.MainHeader-LogoDivider
          p.m-0.text-primary.MainHeader-LogoText
            | от духоты <br>
            | от влажности <br>
            | от плесени <br>
        div.d-none.d-xl-flex.align-items-center
          h4.m-0
            | Децентрализованные системы вентиляции
        div.d-none.d-md-block.flex-shrink-0
          p.m-0
            | Барнаул&nbsp
            a(href="tel:+73852570858")
              strong 8 (3852) 57-08-58
          p.m-0
            | Красноярск&nbsp
            a(href="tel:+73912154602")
              strong 8 (391) 215-46-02
          p.m-0
            | Новосибирск&nbsp
            a(href="tel:+73832772367")
              strong 8 (383) 277–23–67
        div.d-flex.align-items-center.flex-shrink-0
          button(type="button").btn.btn-primary.MainHeader-Callback
            | Оставить заявку
      nav.MainHeader-Nav
        div.p-3.p-md-0.MainHeader-NavListWrapper
          ul.m-0.mb-md-3.list-unstyled.d-flex.flex-column.flex-md-row.justify-content-md-around.MainHeader-NavList
            li
              a(href='')
                | Акции
            li
              a(href='')
                | Оборудование
            li
              a(href='')
                | Фильтры
            li
              a(href='')
                | Монтаж
            li
              a(href='')
                | Наши клиенты
            li
              a(href='')
                | Вопросы и ответы
            li
              a(href='')
                | Контакты
          label(for="mainNavMenu").MainHeader-CloseMenu
            div
              div
              div
        label(for="mainNavMenu").d-md-none.w-100.h-100
    div.Content
      block content

    footer.d-flex.flex-column-reverse.flex-sm-row.justify-content-between.align-items-sm-center.w-100.p-3.bg-primary.text-white.Footer
      p.m-0.mr-2
        | Все права защищены <br>
        | © 2016 - 2019
      div.flex-shrink-0
        p.m-0
          | Барнаул&nbsp
          svg
            use(xlink:href = "/img/common/icons.svg#phone")
          a(href="tel:+73852570858").text-reset
            strong 8 (3852) 57-08-58
        p.m-0
          | Красноярск&nbsp
          a(href="tel:+73912154602").text-reset
            strong 8 (391) 215-46-02
        p.m-0
          | Новосибирск&nbsp
          a(href="tel:+73832772367").text-reset
            strong 8 (383) 277–23–67

      script(type='text/javascript', src='../js/main.js')

      script(src="https://unpkg.com/aos@next/dist/aos.js")
      script
        | AOS.init();