extends ../../pugTemplates/main.pug

block additionStyle
  link(rel='stylesheet', type='text/css', href='/assets/installation/style.css')

block content
  section
    h2.text-center
      | Стоимость стандартного монтажа
    div.swiper-container.Installation-Types
      div.swiper-wrapper
        div.swiper-slide
          div.rounded-top.shadow-sm.border.overflow-hidden.text-center.Installation-Type
            h3.bg-primary.text-white.p-2.Installation-TypeHeader
              | Пассивный проветриватель
            div.px-2
              img(src="/local/assets/img/installation/passive-vent.svg", alt="Пассивный проветриватель").Installation-TypeImg

              div.border-bottom
                p.Installation-TypeLinks
                  a(href="")
                    | КИВ-125
                  span ,
                  a(href="")
                    | КИВ-Квадро
                  span ,
                  a(href="")
                    | Вакио КИВ
              div.border-bottom
                p Барнаул
                p.Installation-TypePrice 2 500 Р
              div.border-bottom
                p Новосибирск
                p.Installation-TypePrice от 2 500 Р
              div.border-bottom
                p Красноярск
                p.Installation-TypePrice от 2 500 Р
              button(type="button").btn.btn-secondary.text-white.font-weight-bold.my-3.Callback
                | Заказать

        div.swiper-slide
          div.rounded-top.shadow-sm.border.overflow-hidden.text-center.Installation-Type
            h3.bg-primary.text-white.p-2.Installation-TypeHeader
              | Активный проветриватель
            div.px-2
              img(src="/local/assets/img/installation/active-vent.svg", alt="Активный проветриватель").Installation-TypeImg
              div.border-bottom
                p.Installation-TypeLinks
                  a(href="")
                    | Тион О2
                  span ,
                  a(href="")
                    | Тион Lite
                  span ,
                  a(href="")
                    | Ballu air Master
              div.border-bottom
                p Барнаул
                p.Installation-TypePrice 4 000 Р
              div.border-bottom
                p Новосибирск
                p.Installation-TypePrice от 4 000 Р
              div.border-bottom
                p Красноярск
                p.Installation-TypePrice от 4 500 Р
              button(type="button").btn.btn-secondary.text-white.font-weight-bold.my-3.Callback
                | Заказать

        div.swiper-slide
          div.rounded-top.shadow-sm.border.overflow-hidden.text-center.Installation-Type
            h3.bg-primary.text-white.p-2.Installation-TypeHeader
              | Активный проветриватель
            div.px-2
              img(src="/local/assets/img/installation/active-vent.svg", alt="Активный проветриватель").Installation-TypeImg
              div.border-bottom
                p.Installation-TypeLinks
                  a(href="")
                    | Тион 3S
              div.border-bottom
                p Барнаул
                p.Installation-TypePrice 4 500 Р
              div.border-bottom
                p Новосибирск
                p.Installation-TypePrice от 4 500 Р
              div.border-bottom
                p Красноярск
                p.Installation-TypePrice от 5 000 Р
              button(type="button").btn.btn-secondary.text-white.font-weight-bold.my-3.Callback
                | Заказать

        div.swiper-slide
          div.rounded-top.shadow-sm.border.overflow-hidden.text-center.Installation-Type
            h3.bg-primary.text-white.p-2.Installation-TypeHeader
              | Проветриватель с рекуператором
            div.px-2
              img(src="/local/assets/img/installation/recuperate-vent.svg", alt="Проветриватель с рекуператором").Installation-TypeImg
              div.border-bottom
                p.Installation-TypeLinks
                  a(href="")
                    | Vakio Base
                  span ,
                  a(href="")
                    | УВРК 50М
                  span ,
                  a(href="")
                    | Winzel
              div.border-bottom
                p Барнаул
                p.Installation-TypePrice 4 500 Р
              div.border-bottom
                p Новосибирск
                p.Installation-TypePrice от 4 500 Р
              div.border-bottom
                p Красноярск
                p.Installation-TypePrice от 5 000 Р
              button(type="button").btn.btn-secondary.text-white.font-weight-bold.my-3.Callback
                | Заказать
      div.swiper-pagination
  section
    h2.text-center
      | Этапы монтажа
    div.swiper-container.Installation-Steps
      div.swiper-wrapper
        div.swiper-slide
          div.rounded.shadow-sm.border.Installation-Step
            p.Installation-StepNum
              | 1 Этап
            div.Installation-StepImg
              div
                img(src="/local/assets/img/installation/installStep-1.jpg", alt="Окно")
            h3.Installation-StepHeader
              | Выбор места монтажа и разметка
            p
              | Приточная вентиляция  необходима в тех комнатах, где люди проводят максимальное количество своего времени.
        div.swiper-slide
          div.rounded.shadow-sm.border.Installation-Step
            p.Installation-StepNum
              | 2 Этап
            div.Installation-StepImg
              div
                img(src="/local/assets/img/installation/installStep-2.jpg", alt="Окно")
            h3.Installation-StepHeader
              | Производство отверстия в стене
            p
              | Согласно разметке устанавливаем алмазную установку на стену и делаем отверстие в наружной стене диаметром 132 мм.
        div.swiper-slide
          div.rounded.shadow-sm.border.Installation-Step
            p.Installation-StepNum
              | 3 Этап
            div.Installation-StepImg
              div
                img(src="/local/assets/img/installation/installStep-3.jpg", alt="Окно")
            h3.Installation-StepHeader
              | Монтаж  воздуховода
            p
              | Гильзование отверстия вентиляционной трубой, установка наружной решетки и теплошумоизоляции в канале.
        div.swiper-slide
          div.rounded.shadow-sm.border.Installation-Step
            p.Installation-StepNum
              | 4 Этап
            div.Installation-StepImg
              div
                img(src="/local/assets/img/installation/installStep-4.jpg", alt="Окно")
            h3.Installation-StepHeader
              | Установка проветривателя
            p
              | Прибор совмещается с воздухозаборным каналом.
      div.swiper-pagination
  section
    h2.text-center
      span(style="margin-right: -0.5rem").text-primary НЕ
      span стандартный монтаж
    p
      | Иногда для установки клапана проветривателя необходимы дополнительные работы, выходящие за рамки стандартного
      | монтажа. Доп работы оплачиваются отдельно. Здесь Вы можете ознакомиться со списком возможных дополнительных работ:
    //div.rounded.shadow.mb-3
    table.rounded.shadow.Installation-UnstdPrices
      tbody
        tr
          td Бурение дополнительного технологического отверстия в кирпичной, бетонной стене толщиной до 1м
          td 2500 руб
        tr
          td Прокладка дополнительного воздуховода (в т.ч. расходные материалы)
          td 1000 руб/м
        tr
          td Высота бурения от пола более 2 м
          td 500 руб
        tr
          td Работа с гипсокартоном и пластиковыми панелями
          td 500 руб
        tr
          td Бурение доп отверстия в стене или лоджии
          td 1000 руб
        tr
          td Окраска наружной решетки в выбранный цвет
          td 500 руб
        tr
          td Выезд в удаленные районы
          td 12-15 руб/км
        tr
          td Химический анкер
          td 1000 руб/шт
        tr
          td Вентилируемый фасад: керамогранит или сайдинг
          td 500 руб/шт
        tr
          td
            | Замена КИВ-125 на другое приточное устройство:
            a(href="") Тион О2
            |,
            a(href="") Тион  3S
            |,
            a(href="") Vakio
            |,
            a(href="") Ballu Air Master
          td от 1000 руб
  section
    h2.text-center
      | Вопросы и ответы по монтажу
  section.mb-5
    h2.text-center
      | Не нашли Ваш ответ?
    p.h4.text-center.mb-3
      | Мы Вам поможем! Просто
      a(href="/contacts/") позвоните нам
      | или оставьте заявку
    button(type="button").btn.btn-primary.d-block.my-3.m-auto.Callback
      | Заказать звонок