@import "./src/common/grid";
@import "./src/common/colors";



.swiper-slide {
  margin-bottom: 1.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.PromoKiv {
  background: {
    image: url("/local/assets/img/index/background-promo.png");
    repeat: no-repeat;
    position: center center;
    size: cover;
  };
  .PromoKiv-Img {
    width: 100%;
    max-width: map-get($container-max-widths, xl) / 2;
  }
  .PromoKiv-Offer {
    font-weight: 500;
    text-align: center;
    h2 {
      font: {
        size: 1rem;
        weight: inherit;
      }
      line-height: 1.5;
    }
    .PromoKiv-OfferBlock {
      background-color: transparentize($primary, 0.25);
    }
  }
}

.why-breezer {
  &__compare {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    .swiper-pagination {
      bottom: auto;
      top: 0;
      .swiper-pagination-bullet {
        margin: 0 1rem;
      }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      .swiper-slide {
        height: auto;
      }
    }
  }
  &__compare-img {
    width: 100%;
    max-width: map-get($container-max-widths, xl) / 2 - 30px;
    margin: auto;
  }
  &__compare-props {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    li {
      display: flex;
      align-items: center;
      img:first-child {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  &__nav-item {
    opacity: 0.5;
    cursor: pointer;
    > img {
      width: 3.5rem;
      height: 3.5rem;
    }
    > p {
      margin: 0;
    }
    &--active {
      opacity: 1;
    }
  }
}

.breezer-type {
  width: 100%;
  &__img {
    margin: auto;
    width: 9.5rem;
    height: 9.5rem;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      width: 97%;
      vertical-align: middle;
    }
  }
  tr:nth-child(2) {
    td {
      vertical-align: top;
    }
    td:first-child {
      vertical-align: middle;
    }
  }
  tr:nth-child(odd) {
    background-color: rgba(222, 222, 222, 0.5);
  }
  td, th {
    padding: 0.5rem 1rem;
  }
  .TypeBreezer-Advantages, .TypeBreezer-Disadvantages {
    li {
      position: relative;
    }
  }
  .TypeBreezer-Advantages {
    li:before {
      content: "+";
      position: absolute;
      left: -0.75rem;
    }
  }
  .TypeBreezer-Disadvantages {
    li:before {
      content: "-\00a0";
      position: absolute;
      left: -0.75rem;
    }
  }
}

.TypeBreezer {
  margin-left: -15px;
  padding: 15px;
  width: calc(100% + 30px);
  .TypeBreezer-Space {
    flex: 0 0 15px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .TypeBreezer-Space {
      display: none;
    }
  }
  table {
    overflow: hidden;
  }
  .TypeBreezer-Img {

  }

  .TypeBreezer-Advantages, .TypeBreezer-Disadvantages {
    li {
      position: relative;
    }
  }
  .TypeBreezer-Advantages {
    li:before {
      content: "+";
      position: absolute;
      left: -0.75rem;
    }
  }
  .TypeBreezer-Disadvantages {
    li:before {
      content: "-\00a0";
      position: absolute;
      left: -0.75rem;
    }
  }

}

.DifferenceBreezer {
  h3 {
    font: {
      size: 1.25rem;
      weight: 700;
    }
  }
  li {
    position: relative;
    padding-left: 1rem;
    &:before {
      content: '';
      position: absolute;
      left: 0.1rem;
      top: 0.6rem;
      //top: 50%;
      //transform: translateY(-50%) rotate(45deg);
      //transition: transform .3s;
      transform: rotate(45deg);
      width: 0.5rem;
      height: 0.5rem;
      background-color: $secondary;
    }
  }
  .swiper-slide {
    > img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: map-get($container-max-widths, xl) / 3 - 30px;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .swiper-wrapper {
      justify-content: space-around;
    }
    .swiper-slide {
      width: 33%;
      padding: 0 7.5px;
    }
    .swiper-pagination {
      display: none;
    }
  }
}

.CompareBreezer {
  margin-left: -15px;
  padding: 15px;
  width: calc(100% + 30px);
  .CompareBreezer-Space {
    flex: 0 0 15px;
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    .CompareBreezer-Space {
      display: none;
    }
  }
  table {
    overflow: hidden;
  }
  .CompareBreezer-Img {
    margin: auto;
    width: 5.5rem;
    height: 5.5rem;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      height: 85%;
      vertical-align: middle;
    }
  }
  tr:first-child {
    th {
      vertical-align: top;
    }
    th:first-child {
      vertical-align: middle;
    }
  }
  .CompareBreezer-Rate {
    height: 2.5rem;
  }
  tr:nth-child(even) {
    background-color: rgba(222, 222, 222, 0.5);//#dedede47;
  }
  td, th {
    padding: 0.5rem 1rem;
    text-align: center;
  }
  th:first-child {
    text-align: left;
  }
}

.WhyWe {
  background: {
    image: url("/local/assets/img/index/whyWe-background.jpg");
    size: cover;
  };
}

.WhyWe-Reasons {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .swiper-wrapper {
      display: block;
      column-count: 3;
    }
    .swiper-pagination {
      display: none;
    }
  }
}

.WhyWe-Reason {
  position: relative;
  padding: {
    top: 2rem;
    left: 2rem;
    bottom: 1rem;
    right: 1rem;
  }
  column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.WhyWe-ReasonCover {
  padding: {
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    top: 4rem;
  }
  background-color: transparentize(#fff, 0.55);
}

.WhyWe-ReasonContent {
  border: 2px solid transparent;
  padding: 0.5rem;
  &:hover {
    border-color: $primary;
  }
}

.WhyWe-Header {
  position: absolute;
  top: 0;
  right: 2rem;
  left: 0;
  height: 5.5rem;
  background-color: transparentize(#000, 0.55);
  display: flex;
  align-items: center;
  padding: 1rem;
  .WhyWe-HeaderIcon {
    width: 2rem;
    margin-right: 1rem;
    img {
      width: 100%;
    }
  }
  h3 {
    color: #fff;
    font: {
      size: 1.25rem;
      weight: 700;
    };
    margin: 0;
  }
}