extends ../../pugTemplates/main.pug

block additionStyle
  link(rel='stylesheet', type='text/css', href='/local/assets/css/index.css')

block content
  section.PromoKiv
    div.container
      div.row.p-4
        div.col-12.col-md-6
          img(src="/local/assets/img/index/kiv125-promo.png", alt="КИВ-125").PromoKiv-Img
        div.col-12.col-md-6.PromoKiv-Offer
          h2
            | Приточный клапан КИВ-125 / КПВ-125
          p.h2.mb-3
            | От духоты, влажности и плесени
          div.d-inline-block.rounded.p-4.PromoKiv-OfferBlock
            p
              | КИВ-125 под ключ (с монтажом) по цене:
            p.h2.mb-4
              | от 4300 руб
            a(class="btn btn-outline-light", href="#", role="button").font-weight-bolder
              | Подробнее
  nav.container
    h2.text-center
      | Навигация по странице
    ul.list-unstyled.d-flex.justify-content-araund.flex-wrap.pt-3.m-0.IndexPageNav
      li
        div
          img(src="/local/assets/img/index/znak.png", alt="Восклицательный знак")
        a(href="#why")
          | Что такое проветриватель и зачем он нужен?
      li
        div
          span(style="font-size: 48px; font-weight: 700; line-height: 2rem") ...
        a(href="#type")
          | Виды проветривателей
      li
        div
          img(src="/local/assets/img/index/koleso.png", alt="Шестеренка")
        a(href="#difference")
          | Отличия проветривателя от других устройств
      li
        div
          img(src="/local/assets/img/index/vybor.png", alt="Выбрать")
        a(href="#compare")
          | Как выбрать проветриватель?
  section
    div.container
      h2.text-center
        a(href="#why", id="why", name="why").text-reset
          | Зачем нужен проветриватель?
    div.border-bottom.border-top.pt-3.mb-3
      div.container
        p.Important
          i Проветриватель
          | - это бытовое приточное устройство для подачи свежего воздуха в квартиру, дом или офис.
          | Основная функция проветривателей - это избавить Вас от
          strong духоты
          |,
          strong сырости
          | и
          strong плесени
          | за счет нормализации процессов воздухообмена в доме.
    div.container
      div.swiper-container.WhyBreezer-Compare
        div.swiper-wrapper
          //.h-auto
          div.swiper-slide
            div.row.h-100
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                img(src="/local/assets/img/index/with-breezer.svg", alt="Потоки воздуха в квартире с проветривателем").WhyBreezer-CompareImg
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                ul.list-unstyled.WhyBreezer-CompareProps
                  li.mb-3
                    img(src="/local/assets/img/index/oxygen.png", alt="Кислород")
                    p.m-0
                      | Подает в помещение свежий воздух. Окна при этом остаются закрытыми! Соответственно, в Ваш дом НЕ
                      | поступают шум, пыль и грязь с улицы.  Исключается возможность сквозняков.
                  li.mb-3
                    img(src="/local/assets/img/index/ventilation.png", alt="Вентиляция")
                    p.m-0
                      | Отработанный воздух вытесняется в вытяжную шахту.
                  li.mb-3
                    img(src="/local/assets/img/index/eco.png", alt="Очистка")
                    p.m-0
                      | Подаваемый с улицы воздух предварительно очищается. В зависимости от выбранного варианта
                      | проветривателя класс очистки  варьируется от грубой степени очистки до медицинских стандартов чистоты.
                  li.mb-3
                    img(src="/local/assets/img/index/temperature.png", alt="Температура")
                    p.m-0
                      | Во многих проветивателях с механической подачей  воздух с улицы предварительно подогревается до
                      | комнатной температуры, даже если за окном -40.
                  li.mb-3
                    img(src="/local/assets/img/index/smile.png", alt="Температура")
                    p.m-0
                      | Дома свежо и комфортно.
          div.swiper-slide
            div.row.h-100
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                img(src="/local/assets/img/index/open-window.svg", alt="Потоки воздуха в квартире с открытыми окнами").WhyBreezer-CompareImg
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                ul.list-unstyled.WhyBreezer-CompareProps
                  li.mb-3
                    img(src="/local/assets/img/index/wind.png", alt="Сквозняк")
                    p.m-0
                      | Из окон окон дует, образуется сквозняк.
                  li.mb-3
                    img(src="/local/assets/img/index/noise.png", alt="Шум")
                    p.m-0
                      | В дом поступает шум городских улиц, который мешает здоровому сну и продуктивной работе.
                  li.mb-3
                    img(src="/local/assets/img/index/impurity.png", alt="Загрязнение воздуха")
                    p.m-0
                      | Через открытые окна мы впускаем в дом промышленные выбросы, выхлопные газы, тополиный пух и
                      | цветочную пыльцу.
          div.swiper-slide
            div.row.h-100
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                img(src="/local/assets/img/index/close-window.svg", alt="Потоки воздуха в квартире с закрытыми окнами").WhyBreezer-CompareImg
              div.col-12.col-lg-6.WhyBreezer-CompareColumn
                ul.list-unstyled.WhyBreezer-CompareProps
                  li.mb-3
                    img(src="/local/assets/img/index/co2.png", alt="Угликислый газ")
                    p.m-0
                      | Отработанный воздух НЕ уходит, а свежему воздуху неоткуда взяться. Становится душно,
                      | появляется утомляемость и заложенность носа, что вызвано недостатком свежего воздуха.
                  li.mb-3
                    img(src="/local/assets/img/index/water.png", alt="Влажность")
                    p.m-0
                      | В воздухе накапливается влага, которая конденсируется на окнах и наружных стенах. Возникает
                      | эффект "плачущих окон". Уменьшается долговечность  ремонта.
                  li.mb-3
                    img(src="/local/assets/img/index/fungus.png", alt="Грибок и плесень")
                    p.m-0
                      | Влажность и тепло - это благоприятные условия для развития плесени. Плесень разрушает
                      | строительные материалы. А ее споры распространяются в воздухе и попадают в легкие человека.
                  li.mb-3
                    img(src="/local/assets/img/index/ventilation.png", alt="Вентиляция", style="transform: rotate(180deg)")
                    p.m-0
                      | Во многих проветивателях с механической подачей  воздух с улицы предварительно подогревается до
                      | комнатной температуры, даже если за окном -40.
        div.swiper-pagination
      div.d-flex.justify-content-around.text-center.WhyBreezer-Nav
        div.isActive
          img(src="/local/assets/img/index/with-breezer-icon.svg", alt="Проветриватель")
          p С проветривателем
        div
          img(src="/local/assets/img/index/open-window-icon.svg", alt="Окна открыты")
          p Окна открыты
        div
          img(src="/local/assets/img/index/close-window-icon.svg", alt="Окна закрыты")
          p Окна закрыты
  section
    div.container
      h2.text-center
        a(href="#type", id="type", name="type").text-reset
          | Виды проветривателей
      div.overflow-auto.d-flex.TypeBreezer
        div
          table.rounded.shadow
            tbody
              tr
                th
                th Пассивные
                th Активные
                th Приточно-вытяжные с рекуператором
              tr
                th Проветриватели
                td
                  div.TypeBreezer-Img
                    img(src="/local/assets/img/common/passive-vent.svg", alt="Пассивный проветриватель")
                  //br
                  span С естественной подачей воздуха
                td
                  div.TypeBreezer-Img
                    img(src="/local/assets/img/common/active-vent.svg", alt="Активный проветриватель")
                  //br
                  span С принудительной подачей воздуха
                td
                  div.TypeBreezer-Img
                    img(src="/local/assets/img/common/recuperate-vent.svg", alt="Проветриватель с рекуператором")
                  //br
                  span Принудительная приточно-вытяжная вентиляция с рекуперацией
              tr
                th Принцип работы
                td работают за счет естественной тяги - только при наличии вытяжной шахты
                td подача воздуха за счет встроенного вентилятора
                td.
                  подача и забор воздуха за счет встроенного вентилятора, который попеременно работает то на приток, то на
                  вытяжку. Рекуператор при этом отдает тепло вытяжного воздуха приточному, т.о. подогрев не требуется.
              tr
                th Достоинства и недостатки
                td
                  ul.list-unstyled.TypeBreezer-Advantages
                    li Просто, дешево, компактно
                    li Не потребляют электроэнергию
                  ul.list-unstyled.TypeBreezer-Disadvantages
                    li Производительность зависит от степени разряжения, которое создает вытяжка
                    li Нет подогрева
                    li Низкая степень очистки воздуха
                    li Ручная регулировка
                td
                  ul.list-unstyled.TypeBreezer-Advantages
                    li Производительность ограничена только мощность вентилятора, в среднем 120-200 м3/ч
                    li Работа проветривателя не зависит от наличия или отсутствия вытяжки
                    li Автоматическая регулировка
                    li Подогрев приточного воздуха
                    li Очистка приточного воздуха
                    li Климат-контроль
                  ul.list-unstyled.TypeBreezer-Disadvantages
                    li Стоимость
                    li Энергопотребление до 1,5 кВт/ч при  подогреве приточного воздуха от -40 до +25
                    li Габариты
                td
                  ul.list-unstyled.TypeBreezer-Advantages
                    li Производительность в режиме  рекуперации  60-80 м3/ч
                    li Автоматическая регулировка
                    li Подогрев приточного воздуха вытяжным
                    li Энергопотребление 18 Вт
                    li Очистка приточного воздуха
                  ul.list-unstyled.TypeBreezer-Disadvantages
                    li Габариты и шум
              tr
                th Модели проветривателей
                td
                  a(href="") КИВ-125
                  | ,
                  a(href="") VAKIO KIV
                td
                  a(href="") ТИОН О2
                  | ,
                  a(href="") ТИОН 3S
                  | ,
                  a(href="") BALLU AIR MASTER
                td
                  a(href="") VAKIO BASE
                  | ,
                  a(href="") УВРК 50М
        div.TypeBreezer-Space
  section
    div.container
      h2.text-center
        a(href="#difference", id="difference", name="difference").text-reset
          | Проветриватель, очиститель или кондиционер. В чем разница?
      div.swiper-container.DifferenceBreezer
        div.swiper-wrapper
          div.swiper-slide
            h3.text-center
              | Проветриватель
            img(src="/local/assets/img/index/breezer.jpg", alt="Проветриватель")
            ul.list-unstyled.m-0
              li Подает свежий воздух
              li
                | Предварительно очищает и подогревает воздух до комнатной температуры (
                a(href='') ТИОН О2
                | ,
                a(href='') ТИОН 3S
                | ,
                a(href='') Ballu Air Master
                | ,
                a(href='') Vakio Base
                | )
              li Не охлаждает воздух
              li
                | Может очищать воздух внутри помещения в режиме рециркуляции (
                a(href='') ТИОН 3S
                | ,
                a(href='') Ballu Air Master
                | )
          div.swiper-slide
            h3.text-center
              | Очиститель
            img(src="/local/assets/img/index/purifier.jpg", alt="Очиститель воздуха")
            ul.list-unstyled.m-0
              li Подает свежий воздух
              li Очищает воздух внутри помещения
              li
                | Увлажняет воздух (
                a(href='') Hisense Ecolife
                | )
              li Не дает притока свежего воздуха
              li Не охлаждает и не подогревает воздух
          div.swiper-slide
            h3.text-center
              | Кондиционер
            img(src="/local/assets/img/index/conditioner.jpg", alt="Кондиционер")
            ul.list-unstyled.m-0
              li Охлаждает воздух
              li Практически не очищает воздух внутри помещения
              li Не дает притока свежего воздуха
              li
                | Подогревает воздух
                a(href='https://aba24.ru/shop/konditsioneryi/') Выбрать кондиционер
        div.swiper-pagination
    div.border-bottom.border-top.pt-3.mb-3
      div.container
        p.Important
          | Каждое из этих устройств максимально хорошо выполняет лишь свою основную функцию. Поэтому для создания
          | максимально комфортных условий у Вас должны быть все три прибора одновременно: проветриватель, кондиционер
          | и очиститель.
  section
    div.container
      h2.text-center
        a(href="#compare", id="compare", name="compare").text-reset
          | Сравнение проветривателей
      div.overflow-auto.d-flex.CompareBreezer
        div
          table.rounded.shadow
            tbody
              tr
                th Проветриватель
                th
                  div.CompareBreezer-Img
                    img(src="/local/assets/img/common/p_kiv-125.png", alt="КИВ-125")
                  a(href="") КИВ-125
                th
                  div.CompareBreezer-Img
                    img(src="/local/assets/img/common/p_vakio.png", alt="VAKIO")
                  a(href="") VAKIO
                th
                  div.CompareBreezer-Img
                    img(src="/local/assets/img/common/p_tion-o2.png", alt="ТИОН O2")
                  a(href="") ТИОН О2
                th
                  div.CompareBreezer-Img
                    img(src="/local/assets/img/common/p_ballu-air-master.png", alt="BALLU AIR MASTER")
                  a(href="") BALLU AIR MASTER
                th
                  div.CompareBreezer-Img
                    img(src="/local/assets/img/common/p_tion-s3.png", alt="ТИОН 3S")
                  a(href="") ТИОН 3S
              tr
                th Производительность, м3/ч
                td 30 - 60
                td 20 / 30 / 60 / 120
                td 40 / 65 / 85 / 120
                td 40 / 80 / 120 / 160 / 200
                td 30 / 45 / 60 / 75 / 90 / 140
              tr
                th Подогрев
                td НЕТ
                td За счет рекуперации
                td ДА
                td ДА
                td ДА
              tr
                th Очистка воздуха
                td Пылевой фильтр G4
                td Фильтр тонкой очистки F6 (EU 6)
                td Каскад из фильтров: F7, HEPA H11, АК
                td HD Prefilter, F5, H11, АК, УФ-лампы, Ионизатор
                td Префильтр, G4, HEPA, АК-XL
              tr
                th Воздушная заслонка
                td Ручная
                td Ручная
                td Автоматическая
                td Автоматическая
                td Автоматическая
              tr
                th Энергопотребление
                td НЕТ
                td 5-18 Вт
                td 18 Вт/1,45 кВт
                td до 1,03  кВт
                td 30 Вт/1,45 кВт
              tr
                th Уровень шума, дБ
                td 0
                td 20 / 29,5
                td от 32
                td 25 / 32 / 36 / 39 / 45
                td 19 / 23 / 29 / 35 / 40 / 47
              tr
                th Габариты (ШхВхГ) , мм
                td d 175, глубина 66
                td 222 х 470 х 94
                td 454 х 514 х 163
                td 455 х 578 х 165
                td 453 х 528 х 203
              tr
                th Диапазон рабочих t
                td от -40
                td -47..+50
                td -40..+50
                td -40..+50
                td -40..+50
              tr
                th Возможность упр-ия Wi-Fi
                td НЕТ
                td НЕТ
                td ДА
                td ДА
                td ДА
              tr
                th Страна-производитель
                td Россия / Китай
                td Россия
                td Россия / Китай
                td Россия / Китай
                td Россия / Китай
              tr
                th Гарантия
                td 1 год
                td 2 года
                td 1 год
                td 2 года
                td 2 года
              tr
                th Расширенная комплектация
                td
                  a(href='') КИВ КВАДРО
                  | ,
                  a(href='') Vakio КИВ
                td
                  a(href='') Vakio КИВ
                  | ,
                  a(href='') Vakio Lumi
                td
                  a(href='') Тион MAC
                  | ,
                  a(href='') Тион TOP
                td
                  a(href='') BMAC-200 CO2
                  | ,
                  a(href='') BMAC-200 Wi-Fi
                td
                  a(href='') ТИОН 3S Smart
                  | ,
                  a(href='') ТИОН 3S Plus
              tr
                th Рейтинг
                td
                  img(src="/local/assets/img/index/rate_1.svg", alt="").CompareBreezer-Rate
                td
                  img(src="/local/assets/img/index/rate_2.svg", alt="").CompareBreezer-Rate
                td
                  img(src="/local/assets/img/index/rate_3.svg", alt="").CompareBreezer-Rate
                td
                  img(src="/local/assets/img/index/rate_4.svg", alt="").CompareBreezer-Rate
                td
                  img(src="/local/assets/img/index/rate_5.svg", alt="").CompareBreezer-Rate
              tr
                th Стоимость
                td 2 000 Р
                td 16 900 Р
                td 25 990 Р
                td 29 990 Р
                td 38 990 Р
              tr
                th
                td
                  a(href='').btn.btn-primary Подробнее
                td
                  a(href='').btn.btn-primary Подробнее
                td
                  a(href='').btn.btn-primary Подробнее
                td
                  a(href='').btn.btn-primary Подробнее
                td
                  a(href='').btn.btn-primary Подробнее
        div.CompareBreezer-Space
  section.WhyWe
    div.container
      h2.text-center
        a(href="#whyWe", id="whyWe", name="whyWe").text-reset
          | 7 причин выбрать нас
      div.swiper-container.WhyWe-Reasons
        div.swiper-wrapper
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/certificate.png", alt="Сертификат")
              h3 Сертифицированный монтаж
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                Мы являемся сертифицированной монтажной компанией. Наши специалисты одобрены компанией ТИОН,
                производителем Ballu Air Master, Vakio и рекомендованы на официальных сайтах производителей.
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/experience.png", alt="Собака")
              h3 Опыт
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                Мы занимаемся бытовой приточной вентиляцией уже более 8 лет. И поверьте, мы уже на этом собаку съели :).
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/clear.png", alt="Чистота")
              h3 Чистый монтаж
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                При бурении мы работаем с водосборным кольцом и пылесосом. Таким образом, монтаж получается чистый,
                без пыли и грязи.
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/complex.png", alt="Пазл")
              h3 Чистый монтаж
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                Помимо монтажа проветривателей мы оказываем ряд услуг  в сфере кондиционирования и вентиляции. Подберем
                любое климатическое оборудование. От проекта до монтажа - все под ключ.
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/warranty.png", alt="Отлично")
              h3 Гарантия
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                Мы даем гарантию как на оборудование, так и на монтажные работы.
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/service.png", alt="Сервис")
              h3 Обслуживание и сервис
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                При возникновении проблем с оборудованием - просто позвоните нам. Мы решим Ваши проблемы в кратчайшие
                сроки.  Взамен временно неисправного оборудования мы предоставляем подмену. Так же мы предлагаем услуги
                по обслуживанию проветривателей: чистка, замена фильтров, ремонт.
          div.swiper-slide.WhyWe-Reason
            div.WhyWe-Header
              div.WhyWe-HeaderIcon
                img(src="/local/assets/img/index/recommend.png", alt="Сарафан")
              h3 Обслуживание и сервис
            div.WhyWe-ReasonCover
              div.WhyWe-ReasonContent.
                Сарафанное радио - это, пожалуй, самая эффективная реклама для нас :) Нас рекомендуют друзьям и
                коллегам! Позвоните нам и и мы предложим оптимальное техническое решение!
        div.swiper-pagination
