@import "./src/common/colors";

.Portfolio-Item {
  flex: 0 1 15.8rem;
  padding: 0 15px;
}

.Portfolio-PrevWrapper {
  position: relative;
  height: 0;
  padding-top: 100%;
  margin-bottom: 15px;
}

.Portfolio-PrevContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.Portfolio-PrevImg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.Portfolio-PrevText {
  height: 3rem;
  background-color: #d3d3d3;
  padding: 0 15px;
  font: {
    size: 0.75rem;
    weight: 700;
  }
  text-align: center;
}

.Portfolio-LastItem {
  border: #d3d3d3 solid 3px;
  > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font: {
      size: 10rem;
      weight: 700;
    }
    text-align: center;
  }
}
