@import "./src/common/colors";
@import "./src/common/grid";

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/swiper/swiper";
@import "./node_modules/swiper/components/pagination/pagination";
@import "./node_modules/swiper/components/navigation/navigation";
@import "./node_modules/swiper/components/effect-fade/effect-fade";

:root {
  --swiper-pagination-color: #000;
}

@function calc-font-size($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin responsive-font-size($f-min, $f-max, $v-min, $v-max) {
  font-size: $f-min * 1px;
  @media (min-width: $v-min * 1px) {
    font-size: calc-font-size($f-min, $f-max, $v-min, $v-max);
  }
  @media (min-width: $v-max * 1px) {
    font-size: $f-max * 1px;
  }
}

html {
  min-width: 320px;
  @include responsive-font-size(14, 18, 320, 1200);
}

@import "./tmp/icons";
@import "./tmp/sprite";
.icon-r {
  display: inline-block;
  vertical-align: middle;
}
@include sprites($spritesheet-sprites);

footer a {
  color: inherit;
}

.PageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}

.Divider {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.HiddenInput {
  position: absolute;
  visibility: hidden;
}

.Important {
  position: relative;
  padding-left: 53px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    //width: 36px;
    //height: 36px;
    @include sprite($icon-r-attention);
    /*background: {
      //image: url("/local/assets/img/index/attention.png");
      size: cover;
    }*/
  }
}

.BulletList {
  list-style: none;
  padding-left: 1.5rem;
  > li {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -1.25rem;
      top: 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $primary;
    }
  }
}

.DashedList {
  list-style: none;
  padding: {
    left: 1rem;
  };
  > li {
    position: relative;
    &:before {
      content: '-';
      position: absolute;
      left: -0.75rem;
    }
  }
}

.ProductCard {
  height: auto !important;
  padding: 1rem !important;
  text-align: center;
  margin: 0 auto;
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin: 0;
  }
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 21rem;
    margin: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    .ProductCard-Header {
      position: relative;
      flex: 0 0 4.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: $primary;
      > p {
        margin: 0;
        padding: 0.5rem;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .ProductCard-Img {
      margin: 0.5rem;
      flex: 0 0 9rem;
      max-height: 9rem;
      > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .ProductCard-Description {
      flex: 1 1 auto;
      margin: 0 0.5rem 1rem;
      /*&:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-left: -0.3rem;
      }
      > p {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }*/
    }
    .ProductCard-Price {
      flex: 0 0 2.5rem;
      margin: 0 0.5rem 1rem;
      padding: 0.5rem 0;
      font-weight: 700;
      border: {
        top: 1px solid #dee2e6;
        bottom: 1px solid #dee2e6;
      };
    }
    .ProductCard-Button {
      flex: 0 0 2.5rem;
      margin-bottom: 1rem;
    }
  }
}

.MainHeader-Bar {
  position: relative;
  z-index: 1;
  padding: 0.5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.MainHeader-Bar .row > * {
  padding: 0 15px;
}

.MainHeader-LogoDivider {
  width: 2px;
}

.MainHeader-LogoImg {
  height: 4rem;
}

.MainHeader-LogoText {
  font: {
    size: 1rem;
    weight: 700;
  }
}

.MainHeader-Nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal-backdrop;
  overflow: hidden;
  transition: background-color 0.3s;
  pointer-events: none;

  @media (min-width: map-get($grid-breakpoints, md)) {
    z-index: auto;
    position: static;
    display: block;
    pointer-events: auto;
    transition: none;
  }
}

#mainNavMenu:checked ~ .MainHeader-Nav {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-color: rgba(0, 0, 0, 0);
  }
}

.MainHeader-NavList {

  @media (min-width: map-get($grid-breakpoints, md)) {

  }
}

.MainHeader-Nav .MainHeader-NavList li {
  margin-bottom: 1rem;
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: 0;
    transition: none;
    transform: none;
    opacity: 1;
  }
  > a {
    position: relative;
    padding-left: 2rem;
    color: #000;
    font-size: 1.5rem;
    &:before {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transition: transform .3s;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $primary;
    }
    &:hover {
      &:before {
        transform: translateY(-50%) rotate(135deg) scale(1.5);
      }
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      display: block;
      width: 7rem;
      padding: {
        top: 1rem;
        bottom: 0.5rem;
        left: 0;
      }
      font-size: 0.8rem;
      text-align: center;
      background-color: transparent;
      &:before {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: calc(-1rem + 1px);
        transform: none;
        height: 1px;
        border: {
          left: 3.5rem solid transparent;
          right: 3.5rem solid transparent;
          top: 1rem solid transparent;
        }
        background-color: transparent;
      }
      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: $primary;
        &:before {
          border-top-color: $primary;
          transform: none;
        }
      }
    }
  }
}

#mainNavMenu:checked ~ .MainHeader-Nav .MainHeader-NavList li {
  opacity: 1;
  transform: translateZ(0);
}

@for $i from 1 through 7 {
  #mainNavMenu:checked ~ .MainHeader-Nav .MainHeader-NavList li{
    transition: {
      property: opacity, transform;
      duration: 0.5s;
      timing-function: cubic-bezier(.175,.885,.32,1.275);
    };
    &:nth-child(#{$i}) {
      transition-delay: 0.3s + 0.1 * $i;
    }
  }
}

.MainHeader-NavListWrapper {
  position: absolute;
  left: -100%;
  width: 80%;
  height: 100%;
  max-width: 460px;
  background-color: #fff;
  transition: transform 0.3s, margin-left 0.3s;
  transform: translateX(-100%);
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: auto;
    height: auto;
    position: static;
    transition: none;
    transform: none;
    max-width: none;
  }
}
#mainNavMenu:checked ~ .MainHeader-Nav .MainHeader-NavListWrapper {
  margin-left: 100%;
  transform: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-left: 0;
    box-shadow: none;
  }
}

.MainHeader-MenuBtn {
  &:hover {
    .MainHeader-Burger div {
      width: 60%;
      &:before {
        width: 20px;
      }
      &:after {
        width: 18px;
      }
    }
  }
}

.MainHeader-Burger {
  position: relative;
  width: 22.5px;
  height: 16px;
  > div {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: inherit;
    }
    &:before {
      top: -7px;
    }
    &:after {
      bottom: -7px;
    }
  }
}

.MainHeader-CloseMenu {
  position: absolute;
  right: -4rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-150%);
  transition: transform .3s .3s/*, scale .3s*/;
  cursor: pointer;
  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(90deg) scale(.8);
    transition: transform .3s;
  }
  &:hover > div {
    transform: none;
  }
  > div > div {
    position: absolute;
    top: 50%;
    width: 80%;
    height: 3px;
    margin: {
      left: 10%;
      right: 10%;
    };
    background-color: #000;
    opacity: 0;
  }
  > div > div:nth-child(1) {
    transform: translate(-5rem, -5rem) rotate(45deg);
  }
  > div > div:nth-child(2) {
    transform: translate(5rem, -5rem) rotate(-45deg);
  }
}

#mainNavMenu:checked ~ .MainHeader-Nav .MainHeader-CloseMenu {
  transform: translateY(0);
  > div > div {
    transition: {
      property: transform, opacity;
      duration: .3s;
      delay: .6s;
    };
  }
  > div > div:nth-child(1) {
    transform: translate(0, -50%)  rotate(45deg) scale(.8);
    opacity: 1;
  }
  > div > div:nth-child(2) {
    transform: translate(0, -50%)  rotate(-45deg) scale(.8);
    opacity: 1;
  }
}

.Content {

}

.Footer {
  > * {
    margin-bottom: 1rem;
    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin-bottom: 0;
    }
  }
}