$primary: #7eb500;
$secondary: #07507B;

@import "../../node_modules/bootstrap/scss/bootstrap";

@function calc-font-size($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin responsive-font-size($f-min, $f-max, $v-min, $v-max) {
  font-size: $f-min * 1px;
  @media (min-width: $v-min * 1px) {
    font-size: calc-font-size($f-min, $f-max, $v-min, $v-max);
  }
  @media (min-width: $v-max * 1px) {
    font-size: $f-max * 1px;
  }
}

html {
  min-width: 320px;
  @include responsive-font-size(12, 18, 320, 1200);
}

.MainHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal;
}

.MainHeader-Bar {
  position: relative;
  z-index: 1;
}

.MainHeader-Bar > * {
  padding: 0 1rem;
}

.MainHeader-LogoDivider {
  width: 2px;
}

.MainHeader-LogoImg {
  height: 4rem;
}

.MainHeader-LogoText {
  font: {
    size: 0.75em;
    weight: 700;
  }
}

.MainHeader-Nav {
  display: none;
  @media (min-width: map-get($grid-breakpoints, md)) {
    display: block;
  }
}

#mainNavMenu:checked ~ .MainHeader-Nav {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal-backdrop;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(0);
}

.MainHeader-NavList {
  background-color: #fff;
  flex: 0 1 460px;
  @media (min-width: map-get($grid-breakpoints, md)) {

  }
}

#mainNavMenu:checked ~ .MainHeader-Nav .MainHeader-NavList {

}

#mainNavMenu:not(:checked) ~ .MainHeader-Nav .MainHeader-NavList > li > a {
  position: relative;
  display: block;
  width: 7rem;
  padding: {
    top: 1rem;
    bottom: 0.5rem;
  }
  margin-bottom: 1rem;
  color: #000;
  font-size: 0.8rem;
  text-align: center;
  background-color: transparent;
  //transition: background-color 0.3s;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    width: 0;
    height: 0;
    border: {
      left: 3.5rem solid transparent;
      right: 3.5rem solid transparent;
      top: 1rem solid transparent;
    }
    //transition: border-color 0.3s;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: $primary;
    &:before {
      border-top-color: $primary;
    }
  }
}

.MainHeader-Burger svg {
  width: 1.5rem;
}

.MainHeader-BurgerCheckbox {
  position: absolute;
  right: 0;
  z-index: -1;
  //opacity: 0;
}

.Content {
  margin-top: 200px;
}

/*
.TEST {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-20px);
  transition: translateX 1s;
  width: 20px;
  height: 20px;
}

#mainNavMenu:checked ~ .TEST {
  transform: translateX(500px);
}*/
