extends ../../pugTemplates/main.pug

block title
  | Примеры наших работ

block pageHeader
  | Примеры наших работ

block crumbs
  +crumbs('Примеры наших работ', '/portfolio')

block content
  //- div.container
    div.row.Portfolio-Galery
      div.col-3
        figure
          img(src="/img/portfolio/sample_1.jpg", alt="Жилой дом")
          figcaption
            | Жилой комплекс, г. Красноярск. Установка в каждой квартире
      div.col-3
        figure
          img(src="/img/portfolio/sample_2.jpg", alt="Балкон")
          figcaption
            | Наружные решетки клапанов, окрашенные в цвет фасада
      div.col-3
        figure
          img(src="/img/portfolio/sample_3.jpg", alt="КИВ-125")
          figcaption
            | Оголовок КИВ-125 в квартире
      div.col-3
        figure
          img(src="/img/portfolio/sample_4.jpg", alt="ТИОН О2")
          figcaption
            | ТИОН О2 в квартире
      div.col-3
        figure
          img(src="/img/portfolio/sample_5.jpg", alt="Ballu Air Master")
          figcaption
            | Ballu Air Master на станции РЖД
      div.col-3
        figure
          img(src="/img/portfolio/sample_6.jpg", alt="ТИОН О2")
          figcaption
            | ТИОН О2 в квартире
      div.col-3
        figure
          img(src="/img/portfolio/sample_7.jpg", alt="ТИОН 3S")
          figcaption
            | ТИОН 3S в коттедже
      div.col-3
        figure
          img(src="/img/portfolio/sample_8.jpg", alt="ТИОН 3S")
          figcaption
            | ТИОН 3S в коттедже
      div.col-3
        figure
          img(src="/img/portfolio/sample_9.jpg", alt="Vakio Base")
          figcaption
            | Vakio Base в квартире, скрытое подключение к питанию
      div.col-3
        figure
          img(src="/img/portfolio/sample_10.jpg", alt="Vakio Base")
          figcaption
            | Vakio Base в квартире, скрытое подключение к питанию
      div.col-3
        figure
          img(src="/img/portfolio/sample_11.jpg", alt="ТИОН О2")
          figcaption
            | ТИОН О2 в квартире
      div.col-3
        figure
          img(src="/img/portfolio/sample_12.jpg", alt="ТИОН Clever")
          figcaption
            | ТИОН Clever, скрытый монтаж на кухне
      div.col-3
        figure
          img(src="/img/portfolio/sample_13.jpg", alt="ТИОН Clever")
          figcaption
            | ТИОН Clever, скрытый монтаж на кухне
      div.col-3
        figure
          img(src="/img/portfolio/sample_14.jpg", alt="Hisense EcoLife")
          figcaption
            | Hisense EcoLife в белом цвете
      div.col-3
        figure
          p
            | ?
          figcaption
            | Здесь может быть Ваш ОБЪЕКТ