@import "./src/common/colors";

.Product-Images {
  .Product-MainImages {
    $nav-btn-width: 25px;
    padding: 0 $nav-btn-width;
    box-sizing: content-box;
    .swiper-wrapper {

      //box-sizing: border-box;
    }
    .swiper-slide {
      width: 100%;
      > div {
        width: 100%;
        padding-bottom: 80%;
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .swiper-button-prev, .swiper-button-next {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 25px;
      margin-top: 0;
      height: auto;
      &:hover {
        color: #000;
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }
}