extends ../../pugTemplates/main.pug

block title
  | Вопросы и ответы

block pageHeader
  | Вопросы и ответы

block crumbs
  +crumbs('Вопросы и ответы', '/faq')

mixin questions(questionsList)
  //- var qBlockIndex = 0;
  //- var qBlockName;
  each qBlock in questionsList
    //- qBlockIndex++;
    //- qBlockName = 'qBlock' + qBlockIndex
    section.container.Faq
      //- input(type = 'radio', name = qBlockName, id = qBlockName + 'Default', checked).HiddenInput
      h2.text-center.Faq-Header
        = qBlock.header
      ul.list-unstyled
        //- var qIndex = 0;
        each item in qBlock.questions
          //- qIndex++;
          li.Faq-QuestionItem
            //- input(type = 'radio', name = qBlockName, id = qBlockName + 'Q' + qIndex).HiddenInput
            h3.Faq-Question
              = item.question
              //- label(for = qBlockName + 'Q' + qIndex)
              //- label(for = qBlockName + 'Default')
              div.Faq-QuestionExpand
                div
                div
            div.Faq-AnswerWrapper
              div.Faq-Answer
                != item.answer

block content
  -
    var questionsList = [
      {
        header: 'Вопросы и ответы о КИВ-125',
        questions: [
          {
            question: 'Зачем нужен КИВ-125',
            answer: `<p>Клапан инфильтрации воздуха КИВ-125 спасает от духоты, от влажности, от плесени в помещении и
              конденсата на окнах. КИВ-125 обеспечивает постоянный приток свежего воздуха в объеме от 30 до 60 м3/час.
              Особенно это актуально для помещений с герметичными пластиковыми окнами.</p>`
          },
          {
            question: 'Как работает КИВ-125',
            answer: `<p>Клапан приточной вентиляции работает за счет естественной тяги, которая создается вытяжной
              системой вентиляции.  Вытяжная шахта существует во всех жилых многоквартирных зданиях и находится, как
              правило, в кухне и санузле.  Без притока воздуха вытяжка не работает, т.к. при закрытых окнах новому воздуху
              просто неоткуда взяться.  А приточный клапан как раз и обеспечивает доступ свежего воздуха.  Установив
              клапан в спальне или гостинице, мы  обеспечиваем циркуляцию воздуха во всей квартире.</p>`
          },
          {
            question: 'Где следует располагать КИВ-125',
            answer: `<div class="row">
                <div class="col-12 col-lg-6">
                  <p>КИВ-125 устанавливается, как правило, в стене рядом с окном на уровне в верхней трети окна.</p>
                  <ul class="mb-3">
                    <li>Это позволяет входящему с улицы воздуху прогреваться за счет того, что пока прохладный воздух будет
                    опускаться вниз, он уже нагреется за счет смешения с комнатным. А так же за счет того, что рядом с окном
                    КИВ-125 попадает в зону действия отопительного прибора;</li>
                    <li>Рядом с окном КИВ-125 не виден за шторой;</li>
                    <li>Рядом с окном удобно обслуживать наружную решетку.</li>
                  </ul>
                  <p>Если Вы живете на первом этаже или в частном доме и у Вас есть легкий доступ со стороны улицы, то Вы
                  можете придерживаться только рекомендации по уровню высоты.</p>
                </div>
                <div class="col-12 col-lg-6">
                  <img src="../img/faq/kivPreferredLocation.jpg" alt="Где расположить КИВ-125" class="w-100">
                </div>
              </div>`
          },
          {
            question: 'Где НЕ следует располагать КИВ-125',
            answer: `<p class="m-0">
              Клапан НЕ следует устанавливать в помещениях, где выделяются запахи, влага и другие вредности -
              в так называемых "грязных" помещениях:
              </p>
              <ul class="mb-3">
                <li>кухня;</li>
                <li>санузел;</li>
                <li>помещение для курения;</li>
                <li>коридор;</li>
                <li>помещения, где образуются вредности.</li>
              </ul>
              <p>
                В этих помещениях необходимо сделать разряжение - отрицательный дисбаланс, чтобы предотвратить
                проникновение запахов в "чистую зону" - спальную, детскую или гостинную.  Для этого в "грязных
                помещениях" необходимо делать вытяжку.
              </p>
              <p>
                Если все же требуется подача свежего воздуха в помещение, где выделяются запахи и влага, то необходимо
                обеспечить превышение вытяжки над притоком, и как можно дальше расположить приточный клапан от вытяжной
                шахты, чтобы избежать "зацикливание" потока.
              </p>`
          },
          {
            question: 'В чем разница между КИВ-125 и оконными проветривателями',
            answer: `<ol>
              <li> Установка <br>
                В отличие от оконного приточного клапана, который устанавливается на окно, КИВ-125 монтируется в стену.
                Соответственно, не нужно нарушать конструкцию стеклопакета, усложнять установку окон, уменьшать площадь
                светопрозрачной поверхности, в общем, получать весь "геморрой", связанный с установкой оконного
                проветривателя. КИВ-125 мы можем устанавливается легко и просто, практически в любом месте на стене
                (стоит только учитывать рекомендации выше).
              </li>
              <br>
              <li> Производительность <br>
                Производительность клапана КИВ-125 составляет 30-60 м3/ч (в зависимости от степени разряжения, которое
                создает вытяжка). Этого достаточно для обеспечения требований вентиляции в жилых помещениях.
                Производительность приточного клапана на пластиковые окна всего лишь 7-10 м3/ч.
              </li>
              <br>
              <li> Адаптация для условий Сибири <br>
                На практике оконные проветриватели в условиях Сибирских морозов перемерзают,  часто образуется наледь со
                стороны помещения. Клапан КИВ-125 разработан в Финляндии для схожих с нашими климатических условий.
                КИВ-125 можно эксплуатировать даже при -40 гр, что подтверждается сертификатом (спрашивайте сертификат у нас).
              </li>
              <br>
              </ol>`
          },
        ]
      },
      {
        header: 'Вопросы и ответы об активных проветривателях: ТИОН О2, ТИОН 3S, Ballu Air Master, Vakio, УВРК',
        questions: [
          {
            question: 'Помогает ли проветриватель от духоты, влажности, плесени, грибка и конденсата на окнах',
            answer: `<p>Духота, повышенная влажность, плесень, грибок и конденсат на окнах - это причина отсутствия
              вентиляции в вашем доме. Если даже у вас есть вытяжная шахта, вытяжка не будет работать при отсутствии
              притока воздуха. Чтобы убрать отработанный воздух и создать постоянную циркуляцию воздушного потока,
              необходимо поступление свежего воздуха, которое и осуществляет проветриватель. Таким образом проветриватель
              решает проблемы духоты, влажности, плесени и конденсата на окнах.</p>`
          },
          {
            question: 'Зачем нужен проветриватель, если можно открыть окно?',
            answer: `<p>Да, открытые окна дадут Вам приток свежего воздуха и при наличии вытяжных шахт вентиляция в доме
              заработает. Однако в открытые окна также попадает шум, грязь и пыль, сквозняк. Зимой Вы не будете держать
              окна постоянно открытыми. А эффект кратковременного проветривания сохраняется лишь на 15 мин. Проветриватели
              обеспечивают постоянный приток свежего, очищенного воздуха БЕЗ пыли, шума и сквозняков.</p>`
          },
          {
            question: 'Охлаждает ли проветриватель воздух? Разница между проветривателем и кондиционером',
            answer: `<p>Поветриватель НЕ охлаждает воздуха. Проветриватель забирает с улицы свежий воздух и подает его в
              помещение. Проветриватель может только подогревать поступающий с улицы воздух до комнатной температуры.
              Проветриватели с рекуператором могут лишь частично сохранять холод в Вашем помещении за счет рекуперации.
              Но они не вырабатывают холод. Разница между кондиционером и проветривателем заключается в том, что
              кондиционер гоняет имеющийся воздух в помещении и охлаждает его за счет фреоновой системы
              (как в холодильнике). Проветриватель же обеспечивает приток свежего, НОВОГО воздуха в помещение. Поэтому
              если Вам ЖАРКО, включите кондиционер. Если Вам ДУШНО, включите проветриватель.</p>`
          },
          {
            question: 'Разница между проветривателем и очистителем воздуха',
            answer: `<p>Очиститель воздуха (мойка воздуха) гоняет воздух внутри помещения, соответственно, и очищает тот
                воздух, который внутри помещения. Однако очиститель воздуха не спасает от духоты: не обеспечивает приток
                свежего воздуха с улицы. Поэтому за подачу свежего, очищенного воздуха и нормальный воздухообмен в
                помещении отвечает проветриватель.
              </p>
              <p>
                Внутри помещения так же имеются источники пыли, грязи и вирусов: домашние животные и мы сами. Очистка
                воздуха от этой грязи и есть задача очистителя. Очистители также могут иметь функцию увлажнения воздуха,
                которая очень важна зимой. Проветриватель же подает свежий воздух ровно такой влажности, какая на улице.
                А зимой на улице воздух очень сухой.
              </p>`
          },
          {
            question: 'Как работает КИВ-125 и другие пассивные проветриватели?',
            answer: `<p>Клапан приточной вентиляции работает за счет естественной тяги, которая создается вытяжной
                системой вентиляции.  Вытяжная шахта существует во всех жилых многоквартирных зданиях и находится, как
                правило, в кухне и санузле.  Без притока воздуха вытяжка не работает, т.к. при закрытых окнах новому
                воздуху просто неоткуда взяться.  А приточный клапан как раз и обеспечивает доступ свежего воздуха.
                Установив клапан в спальне или гостинице, мы  обеспечиваем циркуляцию воздуха во всей квартире.
              </p>`
          },
        ]
      }
    ]
  +questions(questionsList)
