extends ../../pugTemplates/main.pug

block title
  | Вопросы и ответы

block pageHeader
  | Вопросы и ответы

block crumbs
  +crumbs('Вопросы и ответы', '/faq')


mixin question(question, answer)


block content
